<section class="footer-section" id="footer">
  <div class="container footer-container">
    <div>
      <nav class="footer-nav">
        <a class="footer-logo" href="/index.html">
          <svg class="footer-svg" width="196" height="84" viewBox="0 0 57 32">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-socials">
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <svg class="socials-svg" width="32" height="32">
                <use href="/img/sprite.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <svg class="socials-svg" width="32" height="32">
                <use href="/img/sprite.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://x.com" target="_blank">
              <svg class="socials-svg" width="32" height="32">
                <use href="/img/sprite.svg#icon-X-social"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="footer-list">
          <li>
            <a href="#welcome">About us </a>
          </li>
          <li>
            <a href="#quality">Benefits </a>
          </li>
          <li>
            <a href="#expirience">Gallery </a>
          </li>
          <li>
            <a href="#testimonials">Testimonial </a>
          </li>
          <li>
            <a href="#location">Location </a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="footer-reserved">
      <span>&#169;</span>2025 CoffeeJoy. Made by Rubik.
    </p>
  </div>
</section>
