<section class="modal-section" id="modal">
  <div class="container">
    <button type="button" class="btn-close">
      <svg class="modal-svg" width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-sec-content-info">
      <h3 class="title-h3 modal-section-title">Welcome to the world of CoffeeJoy!</h3>
      <p class="paragraph modal-section-info">
        Fresh brews,special offers, and cozy updates are coming your way.
      </p>
    </div>
    <div class="modal-section-content-other">
      <img
        class="modal-section-img"
        srcset="
          /img/modal-success/success-img-min.jpg    1x,
          /img/modal-success/success-img@2x-min.jpg 2x
        "
        src="/img/modal-success/success-img-min.jpg"
        alt="opys"
      />
      <button type="button" class="main-btn modal-btn">Close</button>
    </div>
  </div>
</section>
