<section class="quality-section" id="quality">
  <div class="container quality-container">
    <p class="subheader">Quality</p>
    <h2 class="our-quality">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-description">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-item">
        <div class="quality-image-wrapper">
          <picture class="quality-image-picture">
            <source
              media="(min-width:1440px)"
              srcset="
                ../img/quality/beans-desktop.jpg    1x,
                ../img/quality/beans-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ../img/quality/beans-tablet.jpg    1x,
                ../img/quality/beans-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ../img/quality/beans-phone.jpg    1x,
                ../img/quality/beans-phone@2x.jpg 2x
              "
            />
            <img
              class="quality-image"
              src="../img/quality/beans-desktop.jpg"
              alt="beans"
            />
          </picture>
        </div>
        <div class="specification">
          <div class="text-content-wrapper">
            <h3 class="specification-title">
              Fresh-Roasted Coffee for Every Taste
            </h3>
            <p class="specification-text">
              Savor the rich flavors of our expertly sourced beans.
            </p>
          </div>
        </div>
      </li>
      <li class="quality-item">
        <div class="quality-image-wrapper">
          <picture class="quality-image-picture">
            <source
              media="(min-width:1158px)"
              srcset="
                ../img/quality/barista-desktop.jpg    1x,
                ../img/quality/barista-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ../img/quality/barista-tablet.jpg    1x,
                ../img/quality/barista-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ../img/quality/barista-phone.jpg    1x,
                ../img/quality/barista-phone@2x.jpg 2x
              "
            />
            <img
              class="quality-image"
              src="../img/quality/barista-desktop.jpg"
              alt="barista"
            />
          </picture>
        </div>
        <div class="specification">
          <div class="text-content-wrapper">
            <h3 class="specification-title">
              Expert Baristas Crafting Your Perfect Brew
            </h3>
            <p class="specification-text">
              Our baristas are passionate about coffee and skilled in their
              craft.
            </p>
          </div>
        </div>
      </li>
      <li class="quality-item">
        <div class="quality-image-wrapper">
          <picture class="quality-image-picture">
            <source
              media="(min-width:1158px)"
              srcset="
                ../img/quality/atmosphere-desktop.jpg    1x,
                ../img/quality/atmosphere-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ../img/quality/atmosphere-tablet.jpg    1x,
                ../img/quality/atmosphere-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                ../img/quality/atmosphere-phone.jpg    1x,
                ../img/quality/atmosphere-phone@2x.jpg 2x
              "
            />
            <img
              class="quality-image"
              src="../img/quality/atmosphere-desktop.jpg"
              alt="atmosphere"
            />
          </picture>
        </div>
        <div class="specification">
          <div class="text-content-wrapper">
            <h3 class="specification-title">Cozy Atmosphere</h3>
            <p class="specification-text">
              We don’t just serve coffee — we create a warm and welcoming space
              where every cup feels like home.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
