.experience-picture {
    border-radius: 32px;
    width: 100%;
}

.experience-heading {
    text-align: center;
}

.experience-descr {
    text-align: center;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 768px) {
    .experience-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
}

@media (min-width: 1440px) {
    .experience-list {
        height: 950px;
        flex-direction: column;
    }


}