.footer-section {
    background-color: var(--color-coffee);
    padding: 24px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 40px;
    margin-bottom: 32px;
    background-color: var(--color-coffee-light);
    padding: 32px 48px;
    gap: 32px;
}


.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.footer-reserved {
    text-align: center;
    font-size: 14px;
}

.foo-link {
    font-size: 16px;
    font-weight: 400;
}

.footer-branding {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 156px;
    justify-content: space-between;
    align-items: center;
}

.soc-linkos {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .footer-svg {
        width: 84px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-list {
        flex-direction: row;
    }

    .footer-branding {
        flex-direction: row;
        width: 220px;
        height: 36px;
    }

    .socials-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }
}

@media only screen and (min-width: 1440px) {

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}