/*header section*/
.logo {
    display: flex;
    justify-content: center;
}
.nav-list-menu {
    display: none;
}
.header-nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 18px 12px 18px 0;
}
.burger-icon {
    display: block;
}
.burger-btn {
    padding: 0;
    background-color: transparent;
    box-shadow: none; 
}
@media only screen and (min-width: 768px) {
.header-container {
    padding: 0 64px;
}
.burger-btn {
    display: none;
}
.header-nav {
    justify-content: space-between;
     gap: 100px;
     padding: 0;
}
    .nav-list-menu {
    display: flex;
    gap: 32px;
}
.nav-link-menu {
   font-weight: 400;
   font-size: 16px;
   padding: 24px 0;
}
}
@media only screen and (min-width: 1440px) {
.header-container {
    max-width: 1440px;
}
}
