.hero-section {
    padding: 108px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.hero-container {
    margin: 0;
    max-width: 320px;
    padding: 0 16px;
}

.hero-info {
    color: var(--color-white);
}

.hero-btn {
    padding: 10px 24px;
    background-color: var(--color-coffee-dark);
    max-width: 135px;
    max-height: 44px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
    border-radius: 100px;
    box-shadow: 0 1px 2px rgba(11, 8, 3, 0.05),
        inset 0 -2px 1px rgba(0, 0, 0, 0.2),
        inset 0 0 0 1px rgba(11, 8, 3, 0.15),
        inset 0 2px 1px rgba(255, 255, 255, 0.25),
        inset 0 32px 24px rgba(255, 255, 255, 0.05);
}



/* phone */
@media (max-width: 319px) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero-phone.jpg);
    }
}

@media (max-width: 319px) and (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero@2x-phone.jpg);
    }
}

/* tablet */
@media (min-width: 320px) and (max-width: 767px) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero-tablet.jpg);
    }
}

@media (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero@2x-tablet.jpg);
    }
}

/* desktop small */
@media (min-width: 768px) and (max-width: 1439px) {
    .hero-section {
        padding: 311px 0;
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero-dekstop.jpg);
    }

    .hero-container {
        max-width: 560px;
        padding: 0 32px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero@2x-dekstop.jpg);
    }
}

/* desktop large */
@media (min-width: 1440px) {
    .hero-section {
        padding: 259px 0;
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero-dekstop.jpg);
    }

    .hero-container {
        max-width: 688px;
        padding: 0 64px;
    }
}

@media (min-width: 1440px) and (min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/hero/hero@2x-dekstop.jpg);
    }
}