.mobile-menu-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0;
}

.mobile-menu-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f5d9bc;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-section.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .mobile-menu-section {
    display: none;
  }
}

.mobile-menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 72px;
  width: 100%;
}

/* Логотип */
.menu-logo {
  display: inline-flex;
  align-items: center;
}

.menu-logo-icon {
  display: block;
  height: auto;
  width: 84px;
  height: 36px;
}

/* Кнопка закрытия */
.close-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  position: static;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-close-icon {
  width: 24px;
  height: 24px;
  fill: #0B0803;
}

/* Список меню */
.menu-nav-list-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-link-menu {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.2s ease-in-out;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 320px) {

  .menu-nav-list-menu {
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .menu-link-menu {
    font-size: 18px;
    text-align: center;
  }
}

.menu-link-menu:hover {
  color: #7a4e2d;
}