
.modal-section
{
    width: 100%;
    height: 100%;
background-color: rgba(0, 0, 0, 0.25);
position: fixed;
z-index: 999;
top: 0;
padding: 0;
display: flex;
align-items: center;
}


.modal-section .container{
    border-radius: 40px;
    width: 288px;
    min-width: 0;
    background-color: #e0cbb4;
    padding: 64px 16px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-section-title{
    font-weight: 400;
font-size: 32px;
line-height: 1.2;
letter-spacing: -0.01em;
text-transform: uppercase;
margin-bottom: 16px;
}
.modal-sec-content-info{
    max-width: 256px;
  margin: 0 auto;
  margin-bottom: 24px;
         

}
.modal-section-info{
 text-align: center;
}

.modal-btn{
    width: 100%;
}
.modal-section-img{
    border-radius: 24px;
margin-bottom: 24px;
}
.btn-close{
    position: fixed;
    top: 24px;
    right: 24px;
    background-color: transparent;
    padding: 0;
border: none;
border-radius: 0;
box-shadow: none;
}



@media screen  and (min-width:768px){
    .modal-section .container{
    width: 704px;
padding: 64px;    
max-height: 771px;
}
.modal-sec-content-info{
max-width: 576px;
margin-bottom: 48px;
}
.modal-section-title{
font-size: 36px;
}
.modal-section-content-other{
    max-width: 644px;
display: grid;
justify-content: center;
}

.modal-section-img{
        max-width: none;
    width: 644px;
    margin-bottom: 48px;
}
.modal-btn{
    max-width: 340px;
    margin: 0 auto;
}

}


@media screen  and (min-width:1440px){
     .modal-section .container{
   width: 866px;
    max-height: 901px;
}
.modal-sec-content-info{
max-width: 738px;
}
.modal-section-title{
font-size: 48px;
}
.modal-btn{
    max-width: 244px;
}
.modal-section-content-other{
    margin: 0 auto;
}
}
 