.subscribe-title {
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--color-neutral-darkest);
}



.subscribe-text {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
}



.subscribe-input {
    padding-left: 12px;
    outline: transparent;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    width: 288px;
    height: 40px;
    background-color: transparent;
}

.subscribe-input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(11, 8, 3, 0.6);
}


.subscribe-box {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 24px;
}


.subscribe-label {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
}

.subscribe-button {
    min-width: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
}


.subscribe-icon {
    fill: #fff;
}

.subscribe-input:not(:placeholder-shown):invalid {
    border-color: #7f1c1c;
}

.subscribe-input:not(:placeholder-shown):valid {
    border-color: #008000;
}

.text-valid,
.text-invalid {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    display: none;
    margin-top: 4px;
    margin-bottom: 0;
}

.text-valid {
    color: #008000;
}

.text-invalid {
    color: #7f1c1c;
}

.subscribe-input:not(:placeholder-shown):valid~.text-valid {
    display: block;
    padding-left: 4px;
}

.subscribe-input:not(:placeholder-shown):invalid~.text-invalid {
    display: block;
    padding-left: 4px;
}




@media screen and (min-width: 768px) {
    .subscribe-input {
        width: 340px;
    }

    .subscribe-box {
        flex-direction: row;

    }

    .subscribe-button {
        min-width: 158px;
    }

}

@media (max-width: 1439px) {
    .subscribe-wrapper {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .subscribe-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .subscribe-title {
        font-size: 48px;
    }
}