.subscribe-text {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.5;
}

.subscribe-input {
    padding: 8px 12px;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: border-color 300ms ease;
}

.subscribe-input:focus {
    outline: 2px solid var(--color-primary);
    border-color: var(--color-primary);
}

.subscribe-input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(11, 8, 3, 0.6);
}

.subscribe-input-wrapper {
    width: 100%;
    min-width: 288px;
    max-width: 375px;
}


.subscribe-box {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscribe-text-terms {
    font-size: 12px;
}

.subscribe-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    min-width: 288px;
    max-width: 375px;
    width: 100%;
}

.img-sub {
    width: 100%;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 12px;
}

.subscribe-input:not(:placeholder-shown):invalid {
    border-color: #7f1c1c;
}

.subscribe-input:not(:placeholder-shown):valid {
    border-color: #008000;
}

.text-valid,
.text-invalid {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    display: none;
}

.text-valid {
    color: #008000;
}

.text-invalid {
    color: #7f1c1c;
}

.subscribe-input:not(:placeholder-shown):valid~.text-valid {
    display: block;
    padding-left: 4px;
}

.subscribe-input:not(:placeholder-shown):invalid~.text-invalid {
    display: block;
    padding-left: 4px;
}

.subscribe-wrapper {
    margin-bottom: 32px;
}




@media screen and (min-width: 768px) {
    .subscribe-input {
        height: 44px;
    }

    .subscribe-box {
        flex-direction: row;
        width: 522px;
        max-height: 44px;

    }

    .subscribe-button {
        width: 158px;
        min-width: 158px;
    }

    .subscribe-text-terms {
        margin-bottom: 32px;
    }

}

@media screen and (min-width: 1440px) {
    .subscribe-container {
        display: flex;
        align-items: center;
        gap: 32px;

    }

    .subscribe-wrapper {
        width: 640px;
        margin-bottom: 0;
    }


}