.testimonials-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: auto;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.testimonial-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 32px;
  padding: 32px;
  width: 100%;
  height: auto;
  min-width: auto;
  background-color: var(--color-coffee-light);
  color: var(--color-neutral-darkest);
  transition: background-color 300ms ease;
}

.testimonial-card:hover,
.testimonial-card:focus {
  background-color: var(--color-coffee);
}

.star-list {
  display: flex;
  gap: 4px;
  margin-bottom: 18px;
}

.star-icon {
  fill: none;
  stroke: black;
}

.review-text {
  color: var(--color-neutral-darkest);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 26px;
  font-weight: 400;
}

.author-name {
  color: var(--color-neutral-darkest);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .testimonials-section {
    gap: 48px;
  }

  .testimonials-list {
    flex-direction: row;
    justify-content: center;
  }

  .testimonial-card {
    width: calc((100% - 24px) / 2);
  }

  .review-text {
    margin-bottom: 16px;
    flex-grow: 1;
  }

  .author-name {
    width: auto;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .testimonials-section {
    gap: 64px;
  }

  .testimonials-title {
    width: 416px;
  }

  .testimonials-list {
    justify-content: flex-start;
  }

  .testimonial-card {
    width: 310px;
  }

  .review-text {
    margin-bottom: 38px;
  }

  .author-name {
    width: 246px;
  }
}
